@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #1E2326;
    color: #D3C6AA;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 45em;
    padding: 0 2em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 3em;
    padding: 2em 0;
    border-bottom: 1px solid #323C41;
}

.logo a {
    color: #A7C080;
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: -0.02em;
}

nav a {
    color: #859289;
    margin-left: 1.5em;
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 0.9em;
}

nav a:hover {
    color: #D3C6AA;
}

main {
    margin-top: 2em;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

footer {
    border-top: 1px solid #323C41;
    color: #859289;
    font-size: 0.8em;
    margin-top: 5em;
    padding: 2em 0;
    text-align: center;
}

footer a {
    color: #83C092;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.info {
    color: #859289;
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 2em;
}
